VITE_SUPABASE_URL=https://yjhselfhydiysyvqpyeh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqaHNlbGZoeWRpeXN5dnFweWVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2NzQ2NTYsImV4cCI6MjA4NTI1MDY1Nn0.UHZv9WMy3Eoxj53V7FZ6miq0a7lS0w7PJCElq9nuO8A
